<?xml version='1.0' encoding='utf-8'?>
<widget id="com.miloproductionsinc.plugintests" version="0.0.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Plugin Tests</name>
    <description>
        An Apache Cordova application that you can use to run plugin tests on.
    </description>
    <author email="Lindsay-Needs-Sleep@outlook.com" href="http://cordova.io">
        Milo Productions Inc
    </author>
    <content src="plugins/cordova-plugin-chromecast-tests/www/html.tests.html" />
    <access origin="*" />
    <allow-navigation href="*://192.168.0.110/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
